.vscode/

**/sdkconfig.ci.esp32c2_xtal26m_receiver
**/sdkconfig.ci.esp32c2_xtal26m_sender
**/sdkconfig.ci.receiver
**/sdkconfig.ci.sender
**/sdkconfig.defaults
**/sdkconfig.defaults.esp32c2
**/sdkconfig.defaults.esp32c3
**/sdkconfig.defaults.esp32c5
**/sdkconfig.defaults.esp32c6
**/sdkconfig.defaults.esp32c61
**/sdkconfig.defaults.esp32h2
**/sdkconfig.defaults.esp32s3
**/sdkconfig.defaults.esp32
